<ion-content>
  <header>
    <ion-icon name="menu-outline"></ion-icon>

    <article>
      <div>
        <h4>USINA</h4>
        <h5>play</h5>
      </div>

      <ion-icon name="logo-google-playstore"></ion-icon>
    </article>

    <article>
      <ion-icon name="notifications-sharp"></ion-icon>
    </article>
  </header>

  <section>
    <article class="user">
      <article>
        <img src="../../assets/profile.webp" alt="profile" />

        <div>
          <h4>Leonardo Santos</h4>
          <h6>Nivel roxo</h6>
        </div>
      </article>

      <article>
        <div>
          <span>
            <ion-icon name="body-sharp"></ion-icon>
          </span>
          <p>MEU CORPO</p>
        </div>

        <div>
          <span>
            <ion-icon name="trophy-sharp"></ion-icon>
          </span>
          <p>OBJETIVOS E CONQUISTAS</p>
        </div>
      </article>
    </article>
  </section>

  <section>
    <article>
      <h1>PERSONAL ONLINE</h1>
      <ion-icon name="add-circle-outline"></ion-icon>
    </article>

    <article>
      <div class="cards">
        <div class="card new-training bg-gym">
          <span>
            <ion-icon name="add-circle-outline"></ion-icon>
            <h4>NOVO TREINO</h4>
          </span>
        </div>

        <div class="card bg-yoga">
          <h5>YOGA EXPRESS</h5>
        </div>
      </div>
    </article>
  </section>

  <section>
    <article>
      <h1>PROGRAMAS</h1>
      <span>NOVO</span>
    </article>

    <article>
      <div class="cards">
        <div class="card bg-gym">
          <h6>continuar treinando</h6>
          <h5>LEVANTAMENTO DE PESO</h5>
        </div>

        <div class="card bg-yoga">
          <h5>YOGA EXPRESS</h5>
        </div>
      </div>
    </article>
  </section>

  <section>
    <article>
      <h1>CONTEÚDOS</h1>
    </article>

    <article>
      <div class="cards">
        <div class="card border">
          <div class="squad"></div>
        </div>

        <div class="card border"></div>
      </div>
    </article>
  </section>
</ion-content>
